// ================ || SCROLL BANNER || ================//
.scroll-banner {
  .sc-roll-section {
    transform: rotate(3deg);
    position: relative;
    z-index: 9;
    width: 110%;
    left: -20px;
    background-color: #4dffaf;
    .slide-scroll {
      .roll-box {
        display: none;
        position: relative;
        -webkit-animation: slide-har 40s linear infinite;
        animation: slide-har 80s linear infinite;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        .title {
          white-space: nowrap;
          line-height: 1;
          font-size: 50px;
          color: #261d48;
          margin: 0;
          @include downMd {
            font-size: 30px;
          }
          @include downMobileSmall {
            font-size: 20px;
          }
        }
      }
    }
  }

  .sc-roll-section-three {
    transform: rotate(-3deg);
    background-color: #a555e6;
    width: 110%;
    left: -20px;
    position: relative;
    margin-top: -130px;

    @include downMd {
      margin-top: -75px;
    }
    .slide-scroll {
      .roll-box {
        display: none;
        position: relative;
        -webkit-animation: slide-har-rever 40s linear infinite;
        animation: slide-har-rever 80s linear infinite;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        .title {
          white-space: nowrap;
          line-height: 1;
          font-size: 50px;
          color: #261d48;
          margin: 0;

          @include downMd {
            font-size: 30px;
          }
          @include downMobileSmall {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@keyframes slide-har {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes slide-har-rever {
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
