.button-style-1 {
  cursor: pointer;
  position: relative;
  padding: 15px 20px;
  text-decoration: none;
  border: none;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
  background: var(--color-3);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.button-style-1:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.button-style-1::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
  transition-delay: 0.5s;
}
.button-style-1:hover:after {
  left: 100%;
}
.button-style-1 span {
  position: absolute;
  display: block;
  transition: 0.5s ease;
}
.button-style-1 span:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;
}
.button-style-1:hover span:nth-child(1) {
  width: 100%;
  transform: translateX(100%);
}
.button-style-1 span:nth-child(2) {
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
  background: #fff;
}
.button-style-1:hover span:nth-child(2) {
  height: 100%;
  transform: translateY(100%);
}
.button-style-1 span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background: #fff;
}
.button-style-1:hover span:nth-child(3) {
  width: 100%;
  transform: translateX(-100%);
}
.button-style-1 span:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 1px;
  height: 0;
  background: #fff;
}
.button-style-1:hover span:nth-child(4) {
  height: 100%;
  transform: translateY(-100%);
}

// =================== BUTTON STYLE ONE ====================== //

.button-style {
  cursor: pointer;
  position: relative;
  padding: 15px 20px;
  text-decoration: none;
  border: none;
  color: #fff;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 4px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  width: fit-content;

  &.overide-style {
    @include down2xl {
      font-size: 14px;
    }
  }
  @include downSm {
    font-size: 14px;
  }
}
.button-style:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.button-style::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
  transition-delay: 0.5s;
}
.button-style:hover:after {
  left: 100%;
}
.button-style span {
  position: absolute;
  display: block;
  transition: 0.5s ease;
}
.button-style span:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;
}
.button-style:hover span:nth-child(1) {
  width: 100%;
  transform: translateX(100%);
}
.button-style span:nth-child(2) {
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
  background: #fff;
}
.button-style:hover span:nth-child(2) {
  height: 100%;
  transform: translateY(100%);
}
.button-style span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background: #fff;
}
.button-style:hover span:nth-child(3) {
  width: 100%;
  transform: translateX(-100%);
}
.button-style span:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 1px;
  height: 0;
  background: #fff;
}
.button-style:hover span:nth-child(4) {
  height: 100%;
  transform: translateY(-100%);
}

.button-style-2 {
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  cursor: pointer;
  border: 3px solid var(--primary-color);
  background-color: var(--primary-color);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
}

.text {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 27, 27);
  color: white;
}

.arrow path {
  fill: rgb(19, 19, 19);
}

.button-style-2:hover .arrow {
  animation: slide-in-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-8px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.button-style-2:active {
  transform: scale(0.97);
}

.button-style__rounded {
  cursor: pointer;
  border: none;
  background: var(--color-3);
  color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: grid;
  place-content: center;
  transition:
    background 300ms,
    transform 200ms;
  font-weight: 600;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;

  @include downSm {
    width: 80px;
    height: 80px;
  }
}

.button__text {
  position: absolute;
  inset: 0;
  animation: text-rotation 8s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(19deg * var(--index)));
    inset: 7px;

    @include downSm {
      font-size: 7px;
    }
  }
}

.button__circle {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: #fff;
  color: var(--color-3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include downSm {
    width: 20px;
    height: 20px;
  }
}

.button__icon--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button-style__rounded:hover {
  background: #000;
  transform: scale(1.05);
}

.button-style__rounded:hover .button__icon {
  color: #000;
}

.button-style__rounded:hover .button__icon:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button-style__rounded:hover .button__icon--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

@keyframes text-rotation {
  to {
    rotate: 360deg;
  }
}
