.btn-learn__more {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;

  span {
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 900;
  }

  svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }

  &:hover svg {
    transform: translateX(0);
  }

  &:active svg {
    transform: scale(0.9);
  }

  .hover-underline-animation {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #000000;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
  }
}

.btn-learn__more:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
