$red: var(--color-1);
$purple: #3e2e6a;
$blue: #130b52;
$bg: #fbe6d3;

.heading-style__block {
  font-size: 100px;
  margin: 0;
  font-weight: 900;

  @include downMd {
    font-size: 65px;
  }
  @include downSm {
    font-size: 45px;
  }
}
.heading-style__block {
  text-transform: uppercase;

  text-shadow: 1px 0px 0px $purple, 0px 1px 0px $blue, 2px 1px 0px $purple,
    1px 2px 0px $blue, 3px 2px 0px $purple, 2px 3px 0px $blue,
    4px 3px 0px $purple, 3px 4px 0px $blue, 5px 4px 0px $purple,
    4px 5px 0px $blue, 6px 5px 0px $purple, 5px 6px 0px $blue,
    7px 6px 0px $purple;
  color: var(--color-1);
}
