@import './breakpoints';

@import './page_404';

@import './resize-image';

@import './app';

@import './button-style';

@import './social-style';

@import './image-paralax-scroll';

@import './badge-style-gradient';

@import './btn-play';

.rfm-marquee-container {
  overflow: hidden !important;
}

.text-stroke {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
