/* === removing default button style ===*/
.buttonpma {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  animation: r1 3s ease-in-out infinite;
  /*linear*/
  border: 7px #056bfa21 solid;
  border-radius: 14px;
}
/* button styling */
.buttonpma {
  --border-right: 6px;
  --text-stroke-color: rgba(85, 87, 255, 0.78);
  --animation-color: #056bfa;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: 'Arial';
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 1.5s;
  -webkit-text-stroke: 1px var(--animation-color);
  animation: r2 1s ease-in-out infinite;
}
/* hover */
.buttonpma:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 70px var(--animation-color));
}

@keyframes r1 {
  50% {
    transform: rotate(-1deg) rotateZ(-8deg);
  }
}

@keyframes r2 {
  50% {
    transform: rotateX(-65deg);
  }
}

.logo-style {
  --c: #fff;
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    #004dff;
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
    calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
  outline-offset: 0.1em;
  transition: 0.3s;
  border-radius: 10px;
}

.logo-style:hover,
.logo-style:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.logo-style:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9Q #0005;
  transition: 0s;
}

.logo-style {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 32px;
  margin: 0;
  cursor: pointer;
  padding: 10px 20px;

  @include downSm {
    font-size: 25px;
  }
  @include downMobile {
    font-size: 18px;
  }
}
