.social-style {
  font-size: 1.5rem;
  color: #fafafa;
  text-transform: uppercase;
  padding: 6px 20px;
  border-radius: 5px;
  border: 2px solid #fafafa;
  background: #252525;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-style:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
