.text-3d-animation {
  position: relative;
  cursor: pointer;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.text-3d-animation p {
  font-weight: bold;
  margin: 0px;
  color: var(--color-3);
  transition: all 0.4s;
  white-space: nowrap;
}

.text-3d-animation .secondary {
  transform: rotateX(-90deg) translateY(2vw);
  transform-origin: bottom center;
  position: absolute;
  top: 0;
  color: var(--color-6);
  opacity: 0;
  @include downMd {
    transform: rotateX(-90deg) translateY(16px);
  }
}

.text-3d-animation:hover {
  transform: rotateX(90deg);
}

.text-3d-animation:hover .secondary {
  opacity: 1;
}

.text-3d-animation:hover .primary {
  transform: translateY(-100%);
  opacity: 0;
}
