@tailwind base;
@tailwind components;
@tailwind utilities;

/*====== || custom style || ======= */
@import "../styles/index";

@layer base {
  html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: #f5f5f5;
  }

  html::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }

  html::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: var(--color-4);
  }

  :root {
    --clr: #7808d0;
    --dark: #0f0715;
    --light: rgb(232 232 227 / 1);
    --white: rgb(191 191 177 / 1);
    --text-dark: #000;
    --text-gray-light: rgb(191 191 177 / 1);
    // --color-1: #056bfa;
    --color-1: #ffe900;
    --color-2: #a555e6;
    --color-3: rgb(57 54 50 / 1);
    --color-4: rgb(191 191 177 / 1);
    --color-5: #ff5252;
    --color-6: rgb(8 8 7 / 1);
    --rgb-1: rgb(20, 20, 20);
    --rbg-2: rgb(107 100 92/1);
    --color-rgba-1: rgba(85, 87, 255, 0.78),
    --bg-linear: linear-gradient(135deg, var(--color-1) 0%, var(--color-rgba-1) 100%);
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


@layer components {

  .container-full {
    @apply max-w-full mx-auto px-1 md:px-3 xl:px-5;
  }

  .container-xxl {
    @apply max-w-screen-3xl mx-auto px-1 md:px-3 lg:px-5 2xl:px-3;
  }

  .container-2xl {
    @apply max-w-screen-2xl mx-auto px-1 md:px-3 lg:px-5 2xl:px-3;
  }

  .container-xl {
    @apply max-w-screen-xl mx-auto px-1 md:px-3 lg:px-5 2xl:px-3;
  }

  .title-block {
    @apply font-bold leading-none
  } 
}

@layer utilities {

  body:before {
    background-color: var(--light);
    background-image: url(https://res.cloudinary.com/dyp6oqixq/image/upload/v1712489739/samples/ecommerce/istockphoto-1221845543-612x612_coq6dm.jpg);
  }

  body:before {
    position: fixed;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 3023023023020;
    pointer-events: none;
    opacity: 15%;
    color: #aeae9d;
  }

  .typography-style {
    -webkit-text-fill-color: var(--light);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-3);
    text-transform: uppercase;
    line-height: 80%;
    text-shadow: 2px 2px var(--light), 8px 10px var(--color-1);
    font-weight: 900;
    @include downSm {
      text-shadow: 2px 2px var(--light), 8px 5px var(--color-1);
    }
  }


  .BlurryCursor {
    @include downLg {
      display: none;
    }
  }

  .maxim-live-title {
    font-weight: bold;
    max-width: 1000px;
    color: var(--white);
    text-shadow: 2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000, 5px 5px 0px rgba(0, 0, 0, 0.2);

    @include down2xl {
      max-width: 800px;
    }

    @include downMd {
      text-shadow: none;
      color: var(--color-3);
      font-size: 24px;
      font-weight: 900;
    }

    @include downSm {
      font-size: 18px;
    }
  }

  .text-shadow {
    color: var(--white);
    text-shadow: 2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000, 5px 5px 0px rgba(0, 0, 0, 0.2);
  }

  .block-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bg-filter {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background: linear-gradient(94deg,
        rgba(49, 50, 52, 0.61) 46.62%,
        rgba(88, 77, 77, 0.61) 115.88%);
  }
  
  .image-cover_auto {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}